
.cloudsentinel/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local Terraform config
.terraformrc
terraform.rc

# Secrets
.env
*.pem
*.key

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Security scan results
shift-left/trivy/results.json
*.sarif
checkov_scan.log