#cloud-config
package_update: true
package_upgrade: false

packages:
  - nginx
  - ca-certificates

write_files:
  - path: /etc/cloudsentinel/role.txt
    owner: root:root
    permissions: '0644'
    content: |
      role=${vm_role}

runcmd:
  - [ bash, -lc, "mkdir -p /var/log/cloudsentinel && echo frontend-bootstrap-ok > /var/log/cloudsentinel/bootstrap.log" ]
  - [ bash, -lc, "systemctl enable nginx && systemctl restart nginx" ]
