subscription_id        = "00000000-0000-0000-0000-000000000000"
tenant_id              = "00000000-0000-0000-0000-000000000000"
location               = "norwayeast"
name_prefix            = "cslab"
environment            = "dev"
vm_count               = 1
assign_public_ip       = true
vm_size                = "Standard_B2s"
vm_admin_username      = "azureuser"
vm_admin_ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... user@host"
vm_encryption_at_host_enabled = true
vm_enable_trusted_launch = false
vm_grant_rg_reader     = false
enable_backup_protection = true
enable_cosmosdb        = false
key_vault_grant_app_secrets_user_role = false
