location     = "norwayeast"
environment  = "dev"
project_name = "cloud-sentinel"
owner        = "owner@example.com"

common_tags = {
  Project     = "CloudSentinel"
  ManagedBy   = "Terraform"
  Environment = "dev"
  Security    = "High"
  CostCenter  = "PFE-SSR-2026"
  Compliance  = "AS-CODE"
}

admin_username = "cloudadmin"
admin_password = "ChangeMe123!"
vm_size        = "Standard_B1s"
